body{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
.grid-container{
    height:100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: 
                        10%
                        repeat(3,1fr);
    justify-content:space-around;
    align-items: center;
    border: 5px solid green;
    gap:10px;
}