.SignUpPage{
    font-size: 1.5rem;
}

.SignUpPage .flex-container{
    font-size: 3rem;
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.SignUpPage .form-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.SignUpPage .img-fluid{
    width: 100%;
    height:100%;
}
.SignUpPage .signUpButton{
    font-size: 2rem !important;
    margin-left: 15%;
    width:70%;
}
/*Toast Login*/
.SignUpPage.SignUpToast{
    bottom: 20%;
}

.SignUpPage .form-control{
    font-size: 2rem !important;
}

.SignUpPage .DoNotMatch{
    font-size: 1.5rem !important;
}
